/* Start Components */
body{
    background: black;
    font-family: monospace;
    padding: 20px 0;
}
:root{
    --padding-left-sec: 30px;
}
.title{
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid yellow;
    margin: 20px 0;
}
/* End Components */
.container{
    background: white;
    display: flex;
    padding: 0;
    width: 45%;
}
.container .right_section{
    background: rgba(0, 0, 0, 80%);
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
}
.container .right_section .image{
    width: 200px;
}
.container .right_section .image img{
    max-width: 100%;
}
.container .right_section .box{
    padding-left: 20px;
}
.container .right_section .content{
    padding-left: 10px;
}
.container .right_section .content h4{
    text-transform: uppercase;
    margin-bottom: 5px;
}
.container .right_section .content p{
    margin-bottom: 5px;
}
.container .right_section .contact{
    padding-left: 30px;
    margin-top: 30px;
}
.container .right_section .contact h4{
    background: rgba(255, 255, 255, 14%);
    position: relative;
    margin-bottom: 5px;
}
.container .right_section .contact h4::before{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 25px;
    height: 17px;
    background: yellow;
}
.container .right_section .contact p{
    margin-bottom: 12px;
}
/* END RIGHT SECTION */

/*START LEFT SECTION  */
.container .left_section{
    padding-top: 40px;
}
.container .left_section .head{
    background: yellow;
    width: 100%;
    padding: 10px var(--padding-left-sec);
    letter-spacing: 2px;
}
.container .left_section .head h2{
    font-size: 30px;
    font-weight: normal;
}
.container .left_section .head h2 span{
    font-weight: bold;
}
.container .left_section .main_box{
    padding: 25px var(--padding-left-sec);
}
.container .left_section .main_box .title{
    border-bottom-color: black;
}
.container .left_section .main_box p{
    font-weight: bold;
    font-size: 15px;
}
.container .left_section .main_box .work .box{
    display: flex;
    margin-bottom: 20px;
}
.container .left_section .main_box .work .box .content{
    margin-left: 30px;
}
.container .left_section .main_box .work .box .content p:first-child{
    margin-bottom: 5px;
}
.container .left_section .main_box .skills{
    /* background: red; */
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.container .left_section .main_box .skills .right_container{
    margin-right: 20px;
}
.container .left_section .main_box .skills .box{
    margin-bottom: 25px;
}
.container .left_section .main_box .skills .box  p{
    margin-bottom: 5px;
}
.container .left_section .main_box .skills .box .prog{
    background: rgba(0, 0, 0, 50%);
    height: 8px;
    width: 150px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.container .left_section .main_box .skills .box .prog span{
    display: block;
    height: 100%;
    background: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}